In [29]:
#C:\Users\haufa617\Downloads\chromedriver_win32 (1)
!pip install selenium

Requirement already satisfied: selenium in c:\users\haufa617\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in c:\users\haufa617\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\haufa617\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\haufa617\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\haufa617\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\haufa617\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\haufa617\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\haufa617\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\haufa617\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\haufa617\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\haufa617\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\haufa617\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\haufa617\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\haufa617\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\haufa617\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\haufa617\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\haufa617\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\haufa617\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\haufa617\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [78]:
# Assignment Data Scientist.
# Lets import all the required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [79]:
driver= webdriver.Chrome(r'C:\Users\haufa617\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [81]:
url= 'https://www.naukri.com/'
driver.get(url)

In [80]:
from selenium.webdriver.common.by import By

In [82]:
# finding web element  for search s
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [83]:
search_job.send_keys("Data Scientist")

In [84]:
# Finding web element for location
job_location =driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
job_location

In [85]:
job_location.send_keys("Bangalore")

In [86]:
# Click using absolute Xpath function
search_btn= driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [87]:
search_btn.click()

In [88]:
salary_check = driver.find_element(By.XPATH, "/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[1]/label/i")
salary_check

In [89]:
salary_check.click()

In [103]:
# Lets extract all web elements having job titles
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

In [104]:
job_titles =[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [105]:

job_titles

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Research Analyst',
 'Data Scientist',
 'Hiring For Data Science Intern- DataTrained Education',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist SME',
 'Process Trainer',
 'Datascience Architect_Bangalore',
 'Datascience Architect_Bangalore',
 'Research Associate - Data Science',
 'Data Science',
 'Data Science',
 'Data Scientist',
 'Hiring For Python Developer']

In [106]:
# Extracting company names 
company_tag= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')

In [107]:
company_names =[]

for i in company_tag:
    company_names.append(i.text)
len(company_names)

20

In [108]:
company_names

['Genpact',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 '8KMiles Software Services',
 '8KMiles Software Services',
 'Xsys Software Technologies',
 'Eversana',
 'DataTrained',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'AMSI TECHNOLOGIES PVT LIMITED',
 'IB Business Services',
 'Symphoni HR Private Limited',
 'Symphoni HR Private Limited',
 'Recodeminds Pvt Ltd',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'cliqhr.com',
 'Anblicks Solutions']

In [109]:
# Extracting experience
exp_tag= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [110]:
experience =[]

for i in exp_tag:
    experience.append(i.text)
len(experience)

20

In [111]:
experience

['7-12 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '8-11 Yrs',
 '8-11 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '3-6 Yrs']

In [112]:
locn_tag= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [113]:
location =[]

for i in locn_tag:
    location.append(i.text)
len(location)

20

In [114]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru(Mathikere +11)',
 'Pune(Koregaon Park), Bangalore/Bengaluru(Bellandur)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi / NCR',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Tirunelveli, Chennai, Bangalore/Bengaluru(Vidyaranyapura), Vellore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida, Delhi / NCR',
 'Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Ahmedabad']

In [115]:
jobs= pd.DataFrame()
jobs['Job Title']= job_titles
jobs['Company']= company_names
jobs['Experience']= experience
jobs['Location']= location
jobs

,Job Title,Company,Experience,Location
0,Data Scientist,Genpact,7-12 Yrs,Bangalore/Bengaluru
1,Data Scientist,Allegis Services India Pvt. Ltd.,1-3 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
2,Data Scientist,Allegis Services India Pvt. Ltd.,1-3 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
3,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
4,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
5,Research Analyst,Xsys Software Technologies,0-5 Yrs,Bangalore/Bengaluru(Mathikere +11)
6,Data Scientist,Eversana,3-7 Yrs,"Pune(Koregaon Park), Bangalore/Bengaluru(Bella..."
7,Hiring For Data Science Intern- DataTrained Ed...,DataTrained,0-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
8,Knowledge/Data Scientist,BOLD Technology Systems,3-6 Yrs,Delhi / NCR
9,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"
10,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"
11,Data Scientist SME,AMSI TECHNOLOGIES PVT LIMITED,4-9 Yrs,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
12,Process Trainer,IB Business Services,2-5 Yrs,"Tirunelveli, Chennai, Bangalore/Bengaluru(Vidy..."
13,Datascience Architect_Bangalore,Symphoni HR Private Limited,8-11 Yrs,Bangalore/Bengaluru
14,Datascience Architect_Bangalore,Symphoni HR Private Limited,8-11 Yrs,Bangalore/Bengaluru
15,Research Associate - Data Science,Recodeminds Pvt Ltd,1-3 Yrs,Hyderabad/Secunderabad
16,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,"Noida, Faridabad, Gurgaon/Gurugram, Bangalore/..."
17,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,"Noida, Faridabad, Gurgaon/Gurugram, Bangalore/..."
18,Data Scientist,cliqhr.com,5-8 Yrs,Bangalore/Bengaluru
19,Hiring For Python Developer,Anblicks Solutions,3-6 Yrs,"Hyderabad/Secunderabad, Ahmedabad"

In [117]:
jobs[0:10]

,Job Title,Company,Experience,Location
0,Data Scientist,Genpact,7-12 Yrs,Bangalore/Bengaluru
1,Data Scientist,Allegis Services India Pvt. Ltd.,1-3 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
2,Data Scientist,Allegis Services India Pvt. Ltd.,1-3 Yrs,Bangalore/Bengaluru\n(WFH during Covid)
3,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
4,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Chennai, Bangalore/Bengaluru, Delhi / NCR"
5,Research Analyst,Xsys Software Technologies,0-5 Yrs,Bangalore/Bengaluru(Mathikere +11)
6,Data Scientist,Eversana,3-7 Yrs,"Pune(Koregaon Park), Bangalore/Bengaluru(Bella..."
7,Hiring For Data Science Intern- DataTrained Ed...,DataTrained,0-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."
8,Knowledge/Data Scientist,BOLD Technology Systems,3-6 Yrs,Delhi / NCR
9,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Pune, Bangalore/Bengaluru, Delhi / NCR"

In [1]:
# Assignment Data Analyst Web Scrapping 
# Lets import all the required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver= webdriver.Chrome(r'C:\Users\haufa617\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [3]:
from selenium.webdriver.common.by import By

In [4]:
url= 'https://www.naukri.com/'
driver.get(url)

In [5]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input ")
search_job

In [6]:
search_job.send_keys("Data Analyst")

In [7]:
job_location =driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
job_location

In [8]:
job_location.send_keys("Bangalore")

In [9]:
search_btn= driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [10]:
search_btn.click()

In [12]:
title_tag = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="0ebb2d34-a2a2-46ed-88c4-954e80f7f7fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="0bf8899e-9438-4e77-b084-08d4714da498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="568169e5-e019-4ed7-b08b-7c2e4e7c931d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="99b902a5-6e04-48f1-9f67-1503949946f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="fc108bc6-99c5-42fc-bfc4-538c4fca871a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="5e8440a2-24e1-423e-bf93-52cd447487ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="a0003a6c-6693-4635-b3c1-2d3a2b7797a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="195c4e4c-11ea-4d2e-b1e8-a1e8e0869067")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="7bbbd18d-e59e-4c25-878a-36c4b8e8fff8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="5064d220-01a8-4114-beca-80c717a8b69d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="7ca3ea71-b5ea-4ea6-9283-00b0c658989a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="debd08d7-65f7-4746-8240-8e9cce08f2fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="778d2de7-3698-4359-8177-e5ae0328000c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="f0005c37-51e4-4c60-85ae-59e23fea6b37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="8301059e-426d-4203-8bd5-747b2f30fe24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="dd0b242f-efef-4430-9abf-ba49f492a6fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="935f4db0-e031-4fc1-abe8-01a2c1455a06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="ddb19a52-d8de-45ac-b9bc-529522158771")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="d86e3fce-7521-4766-9f8b-f5c899ab649c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="5c8a34d1cefbac157b4b943e9f2a59dc", element="d00256f3-46d3-4bab-bdbb-3b0ca6e5b1dc")>]

In [13]:
job_titles =[]

for i in title_tag:
    job_titles.append(i.text)
len(job_titles)

20

In [14]:
job_titles

['Associate - Data Analyst',
 'Sr.Business Data Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Senior Data Analyst',
 'Master Data Management Business Analyst',
 'Sr Data Analyst',
 'Hiring For Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Senior Data Analysis Analyst',
 'Data Analyst - Python/Artificial Intelligence',
 'Performance Data Analyst',
 'Happay - Data Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Financial Data Analyst - FIG',
 'Lead Financial Data Analyst',
 'Financial Data Analyst - FIG']

In [15]:
locn_tag= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [16]:
location =[]

for i in locn_tag:
    location.append(i.text)
len(location)

20

In [17]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru, Ahmedabad',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Gurgaon/Gurugram, Chennai, Mumbai (All Areas), Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [18]:
jobs= pd.DataFrame()
jobs['Job Title']= job_titles
jobs['Location']= location
jobs

,Job Title,Location
0,Associate - Data Analyst,Bangalore/Bengaluru
1,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
2,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad"
3,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road)
4,Master Data Management Business Analyst,Bangalore/Bengaluru
5,Sr Data Analyst,Bangalore/Bengaluru
6,Hiring For Data Analyst,Bangalore/Bengaluru
7,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
8,Associate Data Analyst,Bangalore/Bengaluru
9,Associate Data Analyst,Bangalore/Bengaluru
10,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru
11,Senior Data Analysis Analyst,"Bangalore/Bengaluru, Pune, Chennai"
12,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
13,Performance Data Analyst,Bangalore/Bengaluru
14,Happay - Data Analyst,Bangalore/Bengaluru
15,Data Analyst,"Bangalore/Bengaluru, Kolkata, New Delhi, Hyder..."
16,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
17,Financial Data Analyst - FIG,Bangalore/Bengaluru
18,Lead Financial Data Analyst,Bangalore/Bengaluru
19,Financial Data Analyst - FIG,Bangalore/Bengaluru

In [19]:
jobs[0:10]

,Job Title,Location
0,Associate - Data Analyst,Bangalore/Bengaluru
1,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
2,Job opportunity For Data Analyst at Trellance ...,"Bangalore/Bengaluru, Ahmedabad"
3,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road)
4,Master Data Management Business Analyst,Bangalore/Bengaluru
5,Sr Data Analyst,Bangalore/Bengaluru
6,Hiring For Data Analyst,Bangalore/Bengaluru
7,Data Analyst,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
8,Associate Data Analyst,Bangalore/Bengaluru
9,Associate Data Analyst,Bangalore/Bengaluru

In [1]:
# Lets import all the required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
from selenium.webdriver.common.by import By

In [5]:
driver= webdriver.Chrome(r'C:\Users\haufa617\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [6]:
url= 'https://www.flipkart.com/'
driver.get(url)

In [7]:
search_product = driver.find_element(By.CLASS_NAME,"_3704LK ")
search_product

In [8]:
search_product.send_keys("Sunglasses")

In [10]:
search_btn= driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [11]:
search_btn.click()

In [27]:
title_tag = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

In [23]:
title_tag

[]

In [67]:
specs_title =[]

for i in title_tag:
    specs_title.append(i.text)
len(specs_title)

40

In [68]:
specs_title

['UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized Retro Square Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (57)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Others Oval Sunglasses (53)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'Mirrored, Gradient Cat-eye Sunglasses (Free Size)']

In [39]:
price_tag = driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')

In [40]:
price_title =[]

for i in price_tag:
    price_title.append(i.text)
len(price_title)

40

In [41]:
price_title

['₹379₹1,99981% off',
 '₹649₹1,99967% off',
 '₹177₹99982% off',
 '₹298₹2,49588% off',
 '₹264₹2,59989% off',
 '₹283₹1,29978% off',
 '₹249₹1,59984% off\nFree delivery',
 '₹749₹1,99962% off\nFree delivery',
 '₹639₹79920% off\nFree delivery',
 '₹359₹2,59986% off\nFree delivery',
 '₹719₹99928% off\nFree delivery',
 '₹379₹1,99981% off\nFree delivery',
 '₹474₹1,99976% off\nFree delivery',
 '₹249₹1,59984% off\nFree delivery',
 '₹331₹1,99983% off\nFree delivery',
 '₹699₹1,49953% off\nFree delivery',
 '₹211₹1,29983% off\nFree delivery',
 '₹246₹1,59984% off\nFree delivery',
 '₹639₹79920% off\nFree delivery',
 '₹759₹1,99962% off\nFree delivery',
 '₹195₹1,69988% off\nFree delivery',
 '₹291₹1,24576% off\nFree delivery',
 '₹226₹1,59985% off\nFree delivery',
 '₹314₹1,99984% off\nFree delivery',
 '₹299₹2,49988% off\nFree delivery',
 '₹189₹59968% off\nFree delivery',
 '₹229₹1,29982% off\nFree delivery',
 '₹759₹1,99962% off\nFree delivery',
 '₹303₹1,49979% off\nFree delivery',
 '₹199₹1,59987% off\nFree delivery',
 '₹259₹1,29980% off\nFree delivery',
 '₹3,199₹6,39049% off\nFree delivery',
 '₹719₹89920% off\nFree delivery',
 '₹219₹99978% off\nFree delivery',
 '₹289₹1,29977% off\nFree delivery',
 '₹569₹1,99971% off\nFree delivery',
 '₹809₹89910% off\nFree delivery',
 '₹379₹1,99981% off\nFree delivery',
 '₹529₹2,09974% off\nFree delivery',
 '₹197₹69971% off\nFree delivery']

In [71]:
sun_glasses=pd.DataFrame()
sun_glasses['specs']= specs_title
sun_glasses['price']= price_title
sun_glasses

,specs,price
0,"UV Protection, Gradient Round Sunglasses (Free...","₹379₹1,99981% off"
1,UV Protection Rectangular Sunglasses (52),"₹649₹1,99967% off"
2,"UV Protection, Night Vision, Riding Glasses Wa...",₹177₹99982% off
3,UV Protection Round Sunglasses (54),"₹298₹2,49588% off"
4,UV Protection Rectangular Sunglasses (Free Size),"₹264₹2,59989% off"
5,"UV Protection, Polarized Wayfarer Sunglasses (...","₹283₹1,29978% off"
6,UV Protection Aviator Sunglasses (54),"₹249₹1,59984% off\nFree delivery"
7,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹749₹1,99962% off\nFree delivery"
8,UV Protection Rectangular Sunglasses (Free Size),₹639₹79920% off\nFree delivery
9,UV Protection Aviator Sunglasses (58),"₹359₹2,59986% off\nFree delivery"
10,UV Protection Wayfarer Sunglasses (Free Size),₹719₹99928% off\nFree delivery
11,UV Protection Spectacle Sunglasses (Free Size),"₹379₹1,99981% off\nFree delivery"
12,"Polarized, Riding Glasses Sports, Wrap-around ...","₹474₹1,99976% off\nFree delivery"
13,UV Protection Aviator Sunglasses (54),"₹249₹1,59984% off\nFree delivery"
14,"UV Protection, Gradient Retro Square Sunglasse...","₹331₹1,99983% off\nFree delivery"
15,Polarized Retro Square Sunglasses (61),"₹699₹1,49953% off\nFree delivery"
16,UV Protection Wayfarer Sunglasses (50),"₹211₹1,29983% off\nFree delivery"
17,UV Protection Aviator Sunglasses (54),"₹246₹1,59984% off\nFree delivery"
18,UV Protection Aviator Sunglasses (Free Size),₹639₹79920% off\nFree delivery
19,"UV Protection, Polarized Wayfarer Sunglasses (54)","₹759₹1,99962% off\nFree delivery"
20,"UV Protection, Polarized, Mirrored Rectangular...","₹195₹1,69988% off\nFree delivery"
21,UV Protection Sports Sunglasses (62),"₹291₹1,24576% off\nFree delivery"
22,UV Protection Wayfarer Sunglasses (32),"₹226₹1,59985% off\nFree delivery"
23,UV Protection Aviator Sunglasses (57),"₹314₹1,99984% off\nFree delivery"
24,Riding Glasses Wrap-around Sunglasses (Free Size),"₹299₹2,49988% off\nFree delivery"
25,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189₹59968% off\nFree delivery
26,UV Protection Cat-eye Sunglasses (Free Size),"₹229₹1,29982% off\nFree delivery"
27,"Polarized, UV Protection Wrap-around Sunglasse...","₹759₹1,99962% off\nFree delivery"
28,UV Protection Rectangular Sunglasses (Free Size),"₹303₹1,49979% off\nFree delivery"
29,UV Protection Round Sunglasses (53),"₹199₹1,59987% off\nFree delivery"
30,"UV Protection, Polarized, Mirrored Retro Squar...","₹259₹1,29980% off\nFree delivery"
31,Others Oval Sunglasses (53),"₹3,199₹6,39049% off\nFree delivery"
32,UV Protection Shield Sunglasses (Free Size),₹719₹89920% off\nFree delivery
33,UV Protection Rectangular Sunglasses (Free Size),₹219₹99978% off\nFree delivery
34,UV Protection Round Sunglasses (Free Size),"₹289₹1,29977% off\nFree delivery"
35,UV Protection Retro Square Sunglasses (60),"₹569₹1,99971% off\nFree delivery"
36,UV Protection Shield Sunglasses (Free Size),₹809₹89910% off\nFree delivery
37,"UV Protection, Gradient Rectangular Sunglasses...","₹379₹1,99981% off\nFree delivery"
38,"Polarized, UV Protection, Mirrored, Gradient R...","₹529₹2,09974% off\nFree delivery"
39,"Mirrored, Gradient Cat-eye Sunglasses (Free Size)",₹197₹69971% off\nFree delivery

In [75]:
brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

In [76]:
name =[]

for i in brand_name:
    name.append(i.text)
len(name)

40

In [77]:
sun_glasses=pd.DataFrame()
sun_glasses['specs']= specs_title
sun_glasses['price']= price_title
sun_glasses['brand']=name
sun_glasses

,specs,price,brand
0,"UV Protection, Gradient Round Sunglasses (Free...","₹379₹1,99981% off",ROZZETTA CRAFT
1,UV Protection Rectangular Sunglasses (52),"₹649₹1,99967% off",VINCENT CHASE
2,"UV Protection, Night Vision, Riding Glasses Wa...",₹177₹99982% off,DAHAAZIL
3,UV Protection Round Sunglasses (54),"₹298₹2,49588% off",Elligator
4,UV Protection Rectangular Sunglasses (Free Size),"₹264₹2,59989% off",New Specs
5,"UV Protection, Polarized Wayfarer Sunglasses (...","₹283₹1,29978% off",SUNBEE
6,UV Protection Aviator Sunglasses (54),"₹249₹1,59984% off\nFree delivery",PIRASO
7,by Lenskart UV Protection Wayfarer Sunglasses ...,"₹749₹1,99962% off\nFree delivery",VINCENT CHASE
8,UV Protection Rectangular Sunglasses (Free Size),₹639₹79920% off\nFree delivery,Fastrack
9,UV Protection Aviator Sunglasses (58),"₹359₹2,59986% off\nFree delivery",PIRASO
10,UV Protection Wayfarer Sunglasses (Free Size),₹719₹99928% off\nFree delivery,Fastrack
11,UV Protection Spectacle Sunglasses (Free Size),"₹379₹1,99981% off\nFree delivery",ROZZETTA CRAFT
12,"Polarized, Riding Glasses Sports, Wrap-around ...","₹474₹1,99976% off\nFree delivery",ROZZETTA CRAFT
13,UV Protection Aviator Sunglasses (54),"₹249₹1,59984% off\nFree delivery",PIRASO
14,"UV Protection, Gradient Retro Square Sunglasse...","₹331₹1,99983% off\nFree delivery",ROZZETTA CRAFT
15,Polarized Retro Square Sunglasses (61),"₹699₹1,49953% off\nFree delivery",ROYAL SON
16,UV Protection Wayfarer Sunglasses (50),"₹211₹1,29983% off\nFree delivery",SRPM
17,UV Protection Aviator Sunglasses (54),"₹246₹1,59984% off\nFree delivery",PIRASO
18,UV Protection Aviator Sunglasses (Free Size),₹639₹79920% off\nFree delivery,Fastrack
19,"UV Protection, Polarized Wayfarer Sunglasses (54)","₹759₹1,99962% off\nFree delivery",ROYAL SON
20,"UV Protection, Polarized, Mirrored Rectangular...","₹195₹1,69988% off\nFree delivery",SHAAH COLLECTIONS
21,UV Protection Sports Sunglasses (62),"₹291₹1,24576% off\nFree delivery",NuVew
22,UV Protection Wayfarer Sunglasses (32),"₹226₹1,59985% off\nFree delivery",PIRASO
23,UV Protection Aviator Sunglasses (57),"₹314₹1,99984% off\nFree delivery",GANSTA
24,Riding Glasses Wrap-around Sunglasses (Free Size),"₹299₹2,49988% off\nFree delivery",Lee Topper
25,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹189₹59968% off\nFree delivery,CRYSTAL CART
26,UV Protection Cat-eye Sunglasses (Free Size),"₹229₹1,29982% off\nFree delivery",Lee Topper
27,"Polarized, UV Protection Wrap-around Sunglasse...","₹759₹1,99962% off\nFree delivery",ROYAL SON
28,UV Protection Rectangular Sunglasses (Free Size),"₹303₹1,49979% off\nFree delivery",ROZZETTA CRAFT
29,UV Protection Round Sunglasses (53),"₹199₹1,59987% off\nFree delivery",HAMIW COLLECTION
30,"UV Protection, Polarized, Mirrored Retro Squar...","₹259₹1,29980% off\nFree delivery",SUNBEE
31,Others Oval Sunglasses (53),"₹3,199₹6,39049% off\nFree delivery",Arnette
32,UV Protection Shield Sunglasses (Free Size),₹719₹89920% off\nFree delivery,Fastrack
33,UV Protection Rectangular Sunglasses (Free Size),₹219₹99978% off\nFree delivery,Lee Topper
34,UV Protection Round Sunglasses (Free Size),"₹289₹1,29977% off\nFree delivery",SHAAH COLLECTIONS
35,UV Protection Retro Square Sunglasses (60),"₹569₹1,99971% off\nFree delivery",ROYAL SON
36,UV Protection Shield Sunglasses (Free Size),₹809₹89910% off\nFree delivery,Fastrack
37,"UV Protection, Gradient Rectangular Sunglasses...","₹379₹1,99981% off\nFree delivery",ROZZETTA CRAFT
38,"Polarized, UV Protection, Mirrored, Gradient R...","₹529₹2,09974% off\nFree delivery",CRYSTAL CART
39,"Mirrored, Gradient Cat-eye Sunglasses (Free Size)",₹197₹69971% off\nFree delivery,IZAAN MART